<h1>Formulario de usuarios </h1>
<button [routerLink]="'/usuarios'" class="btn btn-primary">Regresar</button>

<form  [formGroup]="usuarioForm" (ngSubmit)="onSubmit(usuarioForm)">

  <div class="form-group">
    <label > Nombre</label>
    <input [ngClass]="{'is-invalid':usuarioForm.get('nombre')?.hasError('required')}" type="text" class="form-control" formControlName="nombre"/>

  </div>

  <div class="form-group">
    <label > Apellido</label>
    <input [ngClass]="{'is-invalid':usuarioForm.get('apellido')?.hasError('required')}" type="text" class="form-control"formControlName="apellido"/>

  </div>

  <div class="form-group">
    <label > Telefono</label>
    <input [ngClass]="{'is-invalid':usuarioForm.get('telefono')?.hasError('required')}" type="number" class="form-control" formControlName="telefono"/>

  </div>

  <div class="form-group">
    <label > Correo</label>
    <input [ngClass]="{'is-invalid':usuarioForm.get('correo')?.hasError('required')}" type="text" class="form-control"formControlName="correo"/>

  </div>

  <br>
  <button class="btn btn-primary" type="submit" [disabled]="usuarioForm.invalid">
    Enviar

  </button>
</form>
